<template>
  <div class="">
    <v-btn @click="count"> test {{amount}} </v-btn>
  </div>
</template>

<script>
import {VBtn} from 'vuetify/lib' // <---- for tree shaking & a la carte
export default {
  name: 'CountButton',
  components: {
    VBtn
  },
  data: () =>({
    amount: 0
  }),
  methods:{
    count() {
      this.amount += 1
    }
  }
}
</script>

<style src="../assets/vuetify.min.css"></style>
<style src="../assets/roboto.css"></style>
<style src="../assets/materialdesignicons.min.css"></style>
