<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">

    <!-- Distill.pub's injection script -->
    <script src="https://distill.pub/template.v2.js"></script>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but src doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <div id="test"></div>
    <!-- built files will be auto injected -->

    <!-- Front matter configured first -->
    <d-front-matter>
      <script type="text/json">
        {
          "title": "Distill Example",
          "description": "An example project using Docker, Nuxt, and Vue.",
          "password": "svgs",
          "authors": [
            {
              "author": "Ludwig Schubert",
              "authorURL": "https://schubert.io/",
              "affiliation": "OpenAI",
              "affiliationURL": "https://openai.com"
            }
          ],
          "katex": {
            "delimiters": [
              {
                "left": "$",
                "right": "$",
                "display": false
              },
              {
                "left": "$$",
                "right": "$$",
                "display": true
              }
            ]
          }
        }
      </script>
    </d-front-matter>
    <!-- Title included statically for Distill.pub overview -->
    <d-title>
      <h1>Distill Example</h1>
      <p>An example project using Docker, Nuxt, and Vue.</p>
    </d-title>
    <d-byline></d-byline>

    <!-- Optional TOC here -->

    <!-- Your phenomnial publication here -->
    <d-article>


    </d-article>

    <d-appendix>
      <h3>Acknowledgments</h3>
      <p>We are deeply grateful to...</p>

      <p>Many of our diagrams are based on...</p>

      <h3>Author Contributions</h3>
      <p>
        <b>Research:</b> Alex developed ...
      </p>

      <p>
        <b>Writing & Diagrams:</b> The text was initially drafted by...
      </p>

      <d-footnote-list></d-footnote-list>
      <d-citation-list></d-citation-list>
    </d-appendix>

    <!-- Bibliography configured last -->
    <d-bibliography>
      <script type="text/json">
        [
          [
            "mercier2011humans",
            {
              "title": "On the Global Convergence of Gradient Descent for Over-parameterized Models using Optimal Transport",
              "author": "Lenaic Chizat and Francis Bach",
              "year": "2018",
              "booktitle": "Proc. NIPS",
              "url": "http://papers.nips.cc/paper/7567-on-the-global-convergence-of-gradient-descent-for-over-parameterized-models-using-optimal-transport.pdf",
              "type": "inproceedings"
            }
          ]
        ]
      </script>
    </d-bibliography>
  </body>

  <tail>
    <script type="module">
    import {WrapBtn} from '<%= BASE_URL %>pub.esm.js'
    </script>
    <!-- <script type="text/javascript" src="<%= BASE_URL %>../../dist/pub.min.js"></script> -->
    <script type="text/javascript">
      // new Vue({
      //   el: 'test'
      // })
    </script>
  </tail>
</html>
