<template>
    <CountButton/>
</template>

<script>
import CountButton from './components/CountButton';

export default {
  name: 'App',

  components: {
    CountButton,
  },

  data: () => ({
    //
  }),
};
</script>
